.leaderBoard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    min-height: 50vh;
    padding: 2vh 1vw;
}

.trophyImg {
    width: 5vw;
    margin: 0 1vw;
}

.title {
    font-size: 50px;
}

.wrapperBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    padding: 1vh 1vw 2vh 1vw;
    margin: 2vh 0vw;

    border: 2px solid #a6a6a6;
    border-radius: 2%;
}

.medalDiv {
    width: 90%;

    display: flex;
    justify-content: space-around;
}


.line {
    width: 90%;
}

.rankDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 90%;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100%/3);

    font-size: 36px;
}

.listTitle {
}

/* Interaction Media*/
@media screen and (max-width: 768px) {
    .title {
        font-size: 24px;
    }

    .list {
        font-size: 18px;
    }
}